---
import BentoItem from "./BentoItem.astro";

import { getI18N } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<!--
  @TODO 
  Traducir todos los textos como hemos hecho en la intro
  Acer el bento para mobile
-->
<section
  class={` 
    w-full max-w-[1400px]
    grid grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-20
`}
>
  <BentoItem class="col-span-10 md:col-span-4" title={i18n.BENTO_TITLE_1}>
    <div
      slot="image"
      class={`
      absolute left-0 top-0 bottom-0 
      w-full h-full
      bg-center bg-no-repeat bg-cover opacity-90
      bg-blue-950 bg-blend-luminosity
      group-hover:scale-110 transition-scale duration-1000 ease-in-out
      `}
      style="background-image: url('/mountain.webp');"
    >
    </div>
    <p slot="content" class="max-w-xl" set:html={i18n.BENTO_CONTENT_1} />
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title={i18n.BENTO_TITLE_2}
    subtitle={i18n.BENTO_SUBTITLE_2}
  >
    <div
      slot="image"
      class={`
        absolute left-0 top-0 bottom-0 
        w-full h-full
        bg-center bg-no-repeat bg-cover opacity-90
        bg-blue-900 bg-blend-luminosity
        group-hover:scale-110 transition-scale duration-1000 ease-in-out
        `}
      style="background-image: url('/pistas.webp');"
    >
    </div>
    <p slot="content" class="max-w-xl" set:html={i18n.BENTO_CONTENT_2} />
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title={i18n.BENTO_TITLE_3}
    subtitle={i18n.BENTO_SUBTITLE_3}
  >
    <div
      slot="image"
      class={`
        absolute left-0 top-0 bottom-0 
        w-full h-full
        bg-center bg-no-repeat bg-cover opacity-90
        bg-blue-800 bg-blend-luminosity
        group-hover:scale-110 transition-scale duration-1000 ease-in-out
        `}
      style="background-image: url('/grefposing.webp');"
    >
    </div>
    <p slot="content" class="max-w-xl" set:html={i18n.BENTO_CONTENT_3} />
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-4" title={i18n.BENTO_TITLE_4}>
    <div
      slot="image"
      class={`
        absolute left-0 top-0 bottom-0 
        w-full h-full
        bg-center bg-no-repeat bg-cover opacity-90
        bg-blue-950 bg-blend-luminosity
        group-hover:scale-110 transition-scale duration-1000 ease-in-out
        `}
      style="background-image: url('/laptop_esland.webp');"
    >
    </div>
    <p slot="content" class="max-w-xl" set:html={i18n.BENTO_CONTENT_4} />
  </BentoItem>
</section>
